<div class="px-4 my-2 flex justify-between">
  <app-breadcrumb [activeLink]="'Create'"></app-breadcrumb>
</div>

<div class="flex justify-center items-center">
  <div class="card mb-4 w-96 bg-base-100 shadow-xl">
    <form class="card-body" [formGroup]="userCreateForm" (ngSubmit)="onSubmit(createDirective)"
      #createDirective="ngForm">
      <h2 class="card-title">Create new user</h2>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">First Name</span>
        </label>
        <input type="text" formControlName="firstName" placeholder="First Name"
          class="input input-bordered w-full max-w-xs" />
        <label class="label"
          *ngIf="userCreateForm.get('firstName')?.invalid && (userCreateForm.get('firstName')?.dirty || userCreateForm.get('firstName')?.touched)">
          <span *ngIf="userCreateForm.get('firstName')?.errors?.['required']" class="label-text-alt text-red-600">First
            Name is required</span>
        </label>
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Last Name</span>
        </label>
        <input type="text" formControlName="lastName" placeholder="Last Name"
          class="input input-bordered w-full max-w-xs" />
        <label class="label"
          *ngIf="userCreateForm.get('lastName')?.invalid && (userCreateForm.get('lastName')?.dirty || userCreateForm.get('lastName')?.touched)">
          <span *ngIf="userCreateForm.get('lastName')?.errors?.['required']" class="label-text-alt text-red-600">Last
            Name
            is required</span>
        </label>
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Username</span>
        </label>
        <input type="text" formControlName="username" placeholder="Username"
          class="input input-bordered w-full max-w-xs" />
        <label class="label"
          *ngIf="userCreateForm.get('username')?.invalid && (userCreateForm.get('username')?.dirty || userCreateForm.get('username')?.touched)">
          <span *ngIf="userCreateForm.get('username')?.errors?.['required']"
            class="label-text-alt text-red-600">Username
            is required</span>
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Is Admin?</span>
          <input type="checkbox" formControlName="isAdmin" checked="checked" class="checkbox" />
        </label>
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Department</span>
        </label>
        <select formControlName="department" class="select select-bordered">
          <option disabled selected>Pick one</option>
          <option *ngFor="let department of departments" [value]="department">{{department}}</option>
        </select>
        <label class="label"
          *ngIf="userCreateForm.get('department')?.invalid && (userCreateForm.get('department')?.dirty || userCreateForm.get('department')?.touched)">
          <span *ngIf="userCreateForm.get('department')?.errors?.['required']"
            class="label-text-alt text-red-600">Department
            is required</span>
        </label>
      </div>
      <div class="mt-4 text-center">
        <button type="submit" class="btn btn-outline btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>